.list-video-trend {
  width: 100%;
  display: flex;
  margin: 10px;
  align-items: flex-start;
}
.video-img-trend {
  height: 150px;
  width: 250px;
  margin-right: 15px;
}
.trend-head {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.fire-icon-trend {
  color: orangered;
  margin-right: 10px;
}
